* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 15vw;
    border: solid 2px rgb(25, 25, 25);
    border-radius: 12px;
}

.calculadora_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.numbers_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 15vw;
}

.buttonsStyle{
    display: flex;
}

button {
    border-radius: 25px;
    height: 40px;
    width: 50px;
    margin: 2px;
}

.section1 .section2 .section3 .section4 .section5{
    display: flex;
    flex-direction: row;
}
